<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>API_KEY</key>
  <string>AIzaSyAfXHjv2JXTepJgQ3pYCkYJmXa5v1_s9uI</string>
  <key>BUNDLE_ID</key>
  <string>com.anonymous.WeMemo</string>
  <key>CLIENT_ID</key>
  <string>9459134170-t4lm1mns4hv6qli65jatpac757pbf4gf.apps.googleusercontent.com</string>
  <key>GCM_SENDER_ID</key>
  <string>9459134170</string>
  <key>GOOGLE_APP_ID</key>
  <string>1:9459134170:ios:9dda5f7d3f942c8f1ebfe3</string>
  <key>IS_ADS_ENABLED</key>
  <false/>
  <key>IS_ANALYTICS_ENABLED</key>
  <false/>
  <key>IS_APPINVITE_ENABLED</key>
  <true/>
  <key>IS_GCM_ENABLED</key>
  <true/>
  <key>IS_SIGNIN_ENABLED</key>
  <true/>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>PROJECT_ID</key>
  <string>temis-c05aa</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.9459134170-t4lm1mns4hv6qli65jatpac757pbf4gf</string>
  <key>STORAGE_BUCKET</key>
  <string>temis-c05aa.firebasestorage.app</string>
</dict>
</plist>
